*{
	margin: 0px;
	padding: 0px;
	border: 0;
}
table, th, td {
  border-bottom: 1px solid #343a40;
  padding: 4px;
  text-align: center;
}
table {
  width: 100%;
}
table {
  border-collapse: collapse;
}
th {
  height: 50px;
  background-color: #343a40;
  color: white;
}
table, tr:nth-child(odd) {
 	 
 	background-color:#E5E7E9;
}
table, tr:nth-child(even){
	background-color: #AAB7B8;
}



